body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #0866ff;
}
.heading{
    font-family: var(--font-manrope);
}
.paragraph{
    font-family: var(--font-lato);
}
.container{
    max-width: 1280px;
    @media (max-width: 768px){
        padding: 0 1rem;
    }
}